.dropdown-content {
    background-color: #191B39;
    position: absolute;
    margin-top: 12px;
    z-index: 100;
    min-width: 7%;
    margin-left: -18px;
    padding-top: 10px;
}

.dropdown-content:after {
    position: absolute;
    content: "";
    top: -17px;
    margin-bottom: 2px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #191B39;
    z-index: 100;
    left: 18px
}

.dropdown-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #090a1a;
}

.hide {
    display: none;
}
.show {
    display: block;
}